@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nunito+Sans:wght@200;400&display=swap');

*{
  margin: 0;
  padding: 0;
  border: none;
}



body{
  font-family: 'Nutino Sans', sans-serif;
  font-weight: 200;
  color: #778899;
  

}

body > section{
  height: 600px;
}

body > header {
  height: 75px
}

/* logo */

#logo{
  font-family: 'Nutino Sans', sans-serif; 
  float: left;
  font-size: 350%;
  color: #778899;
  letter-spacing: 4px;
  margin-left: 30px;
  font-weight: 200;

}

/*navigation*/

#menu{
  font-size: 100%;
}

#menu, #logo{
  line-height: 80px;
}

#menu li{
  float: right;
  list-style-type: none;
  margin-right: 30px;
}
#menu a{
  text-decoration: none;
  color: inherit;

}

#menu a:hover{
  color: #cd853f;
}

.wedding {
  color: #cd853f; 
}

#couple-image{
  height: 600px;
  width: 100%;
  background: url('../images/design-q.jpg') no-repeat center center;
  
  
}



#deco-outer{
  height: 600px;
  width: 100%;
  overflow: hidden;
}




#venue-b{
  height: 700px;
  width: 100%;
  background: url('../images/design-i.jpg') no-repeat;
  margin-top: 100px;
  margin-left: 40px;
  
}

#story-outer{
  width: 750px;
  height: 200px;

  padding-top: 50px;
  padding-left: 60px;
  padding-right: 50px;
  padding-bottom: 100px;
  margin-bottom: 100px;

  background-color:rgb(242, 210, 189, .8)
}

#story-sec{
  margin-left: 500px;
  margin-top: -500px;
  height: 450px;
}

#story-sty{
  margin-bottom: 50px;
  list-style: 50px;
}

#story{
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 200;
}

P{
  letter-spacing: 4px;
  
}

/* benefits */
#benefits-container {
  margin-top: auto;
  height: 400px;

}

#benefits-topic > h2 {
  text-align: center;
  font-weight: 200;
  margin-bottom: auto;
  
  
}

#benefits-topic {
  margin-bottom: 100px;
  text-align: center;
  font-family: 'Nutino Sans', sans-serif;
  letter-spacing: 4px;
  font-weight: 200;
  font-size: 200%;
  }

#left-about{
  padding-top: 30px;
  width: 50%;
  float: left;
  height: 200px;
}



.left-about-heading {
  width: 60%;
  float:left;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
  margin-left: 200px;
  height: 50%;
}
.left-about-heading > h3 {
  font-family: 'Dancing Script', cursive;
}

hr {
  border-top: 1px solid #778899;
  width: 100%;
  margin: 5px 0;
}

.right-about-heading{
  width: 60%;
  float: right;
  clear: both;
  margin-bottom: 50px;
  margin-right: 200px;
  height: 50%;
}
.right-about-heading > h3 {
  font-family: 'Dancing Script', cursive;
}

#right-about{
  padding-top: 30px;
  width: 50%;
  float: right;
  height: 200px;
}
  

/* last section */

#last-sec{
  width: 100%;
  height: 500px;

  padding-top: 50px;
  padding-left: 60px;
  padding-right: 50px;
  padding-bottom: 100px;
  margin-bottom: 100px;

  background-color:rgb(242, 210, 189, .8)
}

#last-sec > img{
  height: 400px;
  margin-left: 50px;

}
#marry{
  margin-top: 70px;
  margin-bottom: 50px;
  text-align: center;
}
#marry > p {
  padding: 10px;
}

/* footer */
footer{
  height: 150px;
}
.social-networks{
  text-align: center;
}
.social-networks > li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #778899;
}

/* our services */

#service-1{
  height: 600px;
  width: 100%;
  display: block;
}

#topic-a > h2 {
   text-align: center;
   font-weight: 100;
   font-size: 50px;
   margin-top: 90px;
   margin-bottom: 50px;
   letter-spacing: 4px;
   height: 50px;
}
#invitation-right{
  float: right;
  margin-top:100px;
  margin-right: 50px;
  
}
.invitation-right-image{
  margin-bottom: 30px;
}

.services-flex-parent {
  display: flex;
  width: 100%;
}

.services-flex-child {
  flex: auto;
  margin: 5px;
}
.services-flex-child > img {
  width: 350px;
}

.service-1{
  margin-bottom: 50px;
}

.card-image {
  text-align: right;
  margin-top: 5px;
}
.card-image > img{
  height: 475px;

}


.invitation-flex-child{
  width: 100%;
  height: 100px;
  float: left;

  padding-top: 50px;
  padding-left: 60px;
  padding-right: 50px;
  padding-bottom: 100px;
  margin-bottom: 100px;


}

.invitation-a > h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  margin-bottom: 50px;

}

/* location */
#location-image > img {
  height: 475px;
  float: left;
  margin-left: -150px;
  
 
}

.left-align{
  text-align: left;
}

.right-align{
  text-align: right;
}
.service-image{
  padding-left: 10px;
}

.service-text{
  padding-left: 75px;
  padding-right: 75px;
}

/* catering */
#cater > img{
  height: 525px;
}

/* media queries */
@media screen and (max-width:1200px) {
  #benefits{
          width: 65%;
          height: 1200px;
         margin: 0 auto;
  }

 #benefits-topic{
  padding: 30px;
  margin: 0;
 } 

 #left-about, #right-about{
  width: 100%;
  padding: 0;
  float: left;
 }
   
 .left-about-heading{
  margin: 0px;
 }
  #right-about{
    margin-left: 60px;
    text-align: center;
    margin-top: 50px;
    
  }
  #left-about{
    text-align: center;
    margin-left: 120px;
  }
 
  
 }
  


  
  






  
  





