@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nunito+Sans:wght@200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: "Nutino Sans", sans-serif;
  font-weight: 200;
  color: #778899;
  max-width: 2000px;
  font-size: 100%;
}

img {
  width: 100%;
  max-width: 2000px;
  height: auto;
}

hr {
  border-top: 1px solid #778899;
  width: 100%;
  margin: 5px 0;
}

a {
  text-decoration: none;
}

body > section {
  height: auto;
  margin: 0 0 5% 0;
}

.about-us-right > h2,
#benefits-topic > h2,
.submit-form > h2,
#topic-a > h2 {
  font-size: 200%;
  font-weight: 100;
}

body > header {
  height: auto;
  margin: 2% 0;
}

.selected-menu {
  border-bottom: 1px solid #cd853f;
  color: #cd853f !important;
}

/* logo */

.topnav-container {
  display: flex;
  flex-direction: column;
}

.topnav-logo,
.topnav-menu {
  flex: 100%;
}

.topnav-menu {
  margin: 2% 2%;
}

.topnav-logo {
  display: flex;
  flex-direction: column;
}

.topnav-logo-item-1,
.topnav-logo-item-2 {
  flex: 100%;
}

#logo {
  font-family: "Dancing Script", cursive;
  float: left;
  font-size: 350%;
  color: #778899;
  letter-spacing: 4px;
  line-height: 60px;
  font-weight: 200;
}

#logo-2 {
  height: 30px;
  width: 95%;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 55px;
  color: #fff;
}
/*navigation*/

#menu {
  font-size: 100%;
}

#menu li {
  float: right;
  list-style-type: none;
  padding: 0 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  color: #cd853f;
}

.wedding {
  color: #cd853f;
}

#couple-image {
  height: 100%;
  width: 100%;
  background: url("../images/design-r.jpg") no-repeat center center;
}

#deco-outer {
  width: 100%;
  overflow: hidden;
}

#topic-1 {
  height: 100px;
}

.benefits-details > h3,
.service-text-flex-child > h3 {
  font-family: "Dancing Script", cursive;
  font-size: 130%;
}

.service-text-flex-child > h3 {
  line-height: 170%;
}

#topic-a > h2 {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 50px;
  letter-spacing: 4px;
  height: 10px;
}

/* services */
.service-text-flex-child > h3 {
  font-family: "Dancing Script", cursive;
}

/* get in touch form */
.form-topic {
  clear: left;
  background: url("../images/form-b.jpg");
  background-size: cover;
  background-position: center;
  height: 900px;
}

.submit-form {
  margin: 60px 60px 60px -150px;
  color: #778899;
  background-color: rgb(242, 210, 189, 0.8);
  max-width: 50%;
  position: absolute;
  left: 20%;
  padding: 30px;
}

.submit-form > h2 {
  color: #778899;
  margin: 2% 0;
}

.text-box {
  background: transparent;
  color: #778899;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0px;
  border: 1px solid #778899;
  border-radius: 2px;
}

.sbutton {
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: rgb(242, 210, 189, 0.8);
  color: #778899;
  display: block;
  border: 1px solid #778899;
}

#special-service {
  height: 100px;
}

#edate {
  width: 30%;
  display: block;
}

#special-req {
  display: block;
}

#focus {
  display: block;
  padding-bottom: 10px;
}

/* footer */
footer {
  height: 100px;
}
.social-networks {
  text-align: center;
}
.social-networks > li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #778899;
}

/*media quries*/
@media only screen and (max-width: 393px) {
  body {
    font-weight: 150;
  }

  .topnav-container {
    display: flex;
    flex-direction: column;
  }

  .topnav-logo,
  .topnav-menu {
    flex: 100%;
  }

  .topnav-logo {
    display: flex;
    flex-direction: column;
  }

  .topnav-logo-item-1,
  .topnav-logo-item-2 {
    flex: 100%;
  }

  #logo {
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-size: 250%;
    letter-spacing: 2px;
    font-weight: 200;
    float: none;
  }

  .topnav-logo-item-2 > p {
    text-align: center;
  }

  .topnav-menu {
    margin: 2% 2%;
  }

  a {
    text-decoration: none;
  }

  #menu > li {
    padding: 10px;
  }

  .deco-outer-left,
  .deco-outer-right {
    flex: 1;
  }

  .couple-image > img {
    width: 100%;
    height: auto;
  }

  .about-us-container {
    display: flex;
    padding: 25px;
    flex-direction: column;
  }

  .about-us-left,
  .about-us-right {
    flex: 1;
  }

  .about-us-right {
    background-color: rgb(242, 210, 189, 0.8);
    padding: 15px;
    margin: -50px 0 0 0;
  }

  .about-us-right > h2 {
    font-weight: 100px;
    margin-bottom: 15px;
    letter-spacing: 2px;
  }

  #benefits-topic > h2 {
    margin-bottom: 15px;
    letter-spacing: 2px;
    text-align: center;
  }

  .benefits-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .benefits-container > h3 {
    letter-spacing: 2px;
    font-weight: 150;
  }

  .benefits-left,
  .benefits-right {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .benefits-details {
    flex: 1;
    padding: 0 0 25px 0;
  }

  #gallary {
    height: auto;
    background-color: rgb(242, 210, 189, 0.8);
  }

  .gallary-container {
    display: flex;
    flex-direction: column;
  }

  .gallary-image {
    flex: 1;
    padding: 25px;
  }

  .gallary-image > img {
    width: 100%;
    height: auto;
  }

  .copy-rights {
    text-align: center;
    padding: 5px;
  }

  .services-flex-parent {
    display: flex;
    flex-direction: column;
  }
  .service-text-flex-child {
    padding: 25px;
    flex: 1;
  }
  .services-flex-child {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 25px;
  }
  .service-image-left {
    flex: 1;
  }

  .service-image-right {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .service-image-child {
    flex: 1;
  }
  .service-image-left > img,
  .service-image-right > img,
  .service-image-child > img {
    height: 100%;
  }

  #topic-1 {
    height: 50px;
  }

  /* get in touch form */
  .submit-form {
    margin: 0px;
    left: unset;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 393px) {
  body {
    font-weight: 150;
  }

  #logo {
    text-align: center;
    font-size: 250%;
    letter-spacing: 2px;
    font-weight: 200;
    float: none;
  }

  .topnav-logo-item-2 > p {
    text-align: center;
  }

  /* .topnav-menu {
    margin: 20px 50px;
  } */

  a {
    text-decoration: none;
  }

  #menu {
    float: left;
  }

  #menu > li {
    padding: 10px;
  }

  .deco-outer-container {
    display: flex;
    flex-direction: column;
  }
  .deco-outer-left,
  .deco-outer-right {
    flex: 1;
  }

  .couple-image > img {
    width: 100%;
    height: auto;
  }

  .about-us-container {
    display: flex;
    padding: 25px;
    flex-direction: column;
  }

  .about-us-left,
  .about-us-right {
    flex: 1;
  }

  .about-us-right {
    background-color: rgb(242, 210, 189, 0.8);
    padding: 15px;
    margin: -50px 0 0 0;
  }

  .about-us-right > h2 {
    font-weight: 100px;
    margin-bottom: 15px;
    letter-spacing: 2px;
  }

  #benefits-topic > h2 {
    margin-bottom: 15px;
    letter-spacing: 2px;
    text-align: center;
    font-family: "Nutino Sans", sans-serif;
  }

  .benefits-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .benefits-container > h3 {
    letter-spacing: 2px;
    font-weight: 150;
  }

  .benefits-left,
  .benefits-right {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .benefits-details {
    flex: 1;
    padding: 0 0 25px 0;
  }

  #gallary {
    height: auto;
    background-color: rgb(242, 210, 189, 0.8);
  }

  .gallary-container {
    display: flex;
    flex-direction: column;
  }

  .gallary-image {
    flex: 1;
    padding: 25px;
  }

  .gallary-image > img {
    width: 100%;
    height: auto;
  }

  .copy-rights {
    text-align: center;
    padding: 5px;
  }

  .services-flex-parent {
    display: flex;
    flex-direction: column;
  }
  .service-text-flex-child {
    padding: 25px;
    flex: 1;
  }
  .services-flex-child {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 25px;
  }
  .service-image-left {
    flex: 1;
  }

  .service-image-right {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .service-image-child {
    flex: 1;
  }
  .service-image-left > img,
  .service-image-right > img,
  .service-image-child > img {
    height: 100%;
  }

  #topic-1 {
    height: 50px;
  }

  /* get in touch form */
  .submit-form {
    margin: 0px;
    left: unset;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  body {
    font-weight: 150;
  }

  #logo {
    text-align: center;
    font-size: 300%;
    letter-spacing: 2px;
    font-weight: 200;
    float: none;
  }

  .topnav-logo-item-2 > p {
    text-align: center;
  }

  #menu {
    float: left;
  }

  #menu > li {
    padding: 10px;
  }
}

@media only screen and (min-width: 900px) {
  body {
    font-weight: 150;
  }

  .topnav-container {
    display: flex;
    flex-direction: row;
  }
  .topnav-logo {
    flex: 35%;
  }

  .topnav-menu {
    flex: 65%;
  }

  #menu {
    float: right;
  }

  .about-us-container {
    display: flex;
    flex-direction: row;
  }
  .about-us-right {
    margin-left: -70px;
    margin-top: 100px;
    margin-bottom: 36px;
    flex: 45%;
  }
  .about-us-left {
    margin-left: 2px;
    flex: 45%;
  }
  .benefits-container {
    flex-direction: row;
  }
  .benefits-left {
    padding-right: 10px;
  }
  .benefits-right {
    padding-left: 10px;
  }

  .gallary-container {
    display: flex;
    flex-direction: row;
  }
  .gallary-image > img {
    height: 100%;
  }
  .gallary-image {
    padding: 20px 10px;
  }

  .services-flex-parent {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (min-width: 1200px) {
  .about-us-right {
    margin-bottom: 100px;
  }
}
